.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    &Page {
        margin-top: 5vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    &Message {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        &Text {
            text-transform: uppercase;
            font-family: 'Montserrat', sans-serif;
        }
    }
    &Image {
        height: 300px;
    }
    &Arrow {
        width: 100px;
        margin-top: 50px;
    }
}