.container {
    &Cards {
        display: flex;
        flex-direction: row;
    }
    &Flashcard {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 50px;
        &Count {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
    }
}

.flashcardBody {
    // position: absolute;
    margin-top: 5%;
    width: 350px;
    height: 250px;
    background-color: #fff;
    border-radius: 20px;
    border: 1px solid #04132d;
    box-shadow: 2px 7px 25px 15px #6b788f;
    text-align: center;
    &:hover {
        cursor: pointer;
    }
}

.word {
    &_category {
        margin-top: 30px;
        color: #C9CCD5;
    }
    &_french {
        color: #053742;
        font-size: 25px;
    }
    &_transcription {
        color: #053742;
        font-size: 20px;
    }
}

.translationBtn {
    margin: auto;
    border: 1px solid #247ed0;
    border-radius: 10px;
    color: #3f90db;
    background-color: #04132d;
    width: 150px;
    &:hover {
        cursor: pointer;
    }
}

.sliderBtn {
    border: 1px solid #247ed0;
    border-radius: 10px;
    color: #3f90db;
    background-color: #04132d;
    height: 80px;
    width: 100px;
    font-size: 20px;
    &:hover {
        cursor: pointer;
    }
}