.containerCards {
    display: flex;
    flex-direction: row;
}

.cardInner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid blue;
    margin: auto;
    text-align: center;
}