    $fontFamily:'Montserrat',
    sans-serif;
    $fontColor: #3297da;
    .header {
        margin: -25px;
        background-color: #04132d;
        width: 100vw;
    }
    
    .headerMenu {
        display: flex;
        justify-content: right;
        height: 100px;
        align-items: center;
    }
    
    .menu {
        list-style: none;
        margin-right: 10vw;
        font-family: $fontFamily;
        color: $fontColor;
        font-size: 22px;
    }
    
    .logo {
        margin-right: auto;
        width: 100px;
    }