$fontFamily: 'Montserrat',
sans-serif;
.decisionBtn {
    display: flex;
    justify-content: space-around;
    margin-top: 30vh;
}

.btn {
    width: 300px;
    height: 50px;
    border-radius: 10px;
    background-color: #04132d;
    border: 2px solid #1b81c8;
    box-shadow: 5px 10px 50px 10px #6b788f;
    color: #1b81c8;
    font-family: $fontFamily;
    font-size: 20px;
    &:hover {
        cursor: pointer;
        transform: scale(1.1);
        transition: 2s, ease-in;
    }
}