.footer {
    background-color: #04132d;
    color: #fff;
    height: 80px;
    // margin-left: -25px;
    margin-bottom: 0;
    margin-left: -25px;
    margin-top: 20vh;
    background-color: #04132d;
    width: 100vw;
    &Text {
        text-align: center;
        padding-top: 30px;
    }
}