.App {
    display: block;
    justify-content: center;
    width: 100%;
}

.container {
    display: flex;
    justify-content: space-around;
}

.category {
    display: flex;
    justify-content: space-evenly;
}