.App {
    display: block;
    justify-content: center;
    width: 100%;
}

.mistake {
    margin-top: 5vh;
    display: flex;
    flex-direction: row;
    &Img {
        width: 70vw;
        height: 80vh;
        text-align: center;
        margin: auto;
    }
}

.container {
    display: flex;
    justify-content: space-around;
    margin: 30px;
    &Table {
        display: flex;
        flex-direction: column;
    }
    &Row {
        margin: 150px 0;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}

.category {
    display: flex;
    justify-content: space-evenly;
}